#shMtForm {
	display: none;
}
#tantoMtForm {
	display: none;
}
#shKubunMtForm {
	display: none;
}
#unitMtForm {
	display: none;
}
#conTaxMtForm {
	display: none;
}
#sysEnvMtForm {
	display: none;
}
html,body{
height: 99%;
}
button[name="reset"] {
	background-color: black;
}
.btn {
	background-color: black;
}

