<table>
    <form action="/edit" method="post">
        <input type="hidden" name="id" value="{{ data.key.id }}">
        <tr>
            <td>名前:</td>
            <td><input type="text" name="name" value="{{data.name}}"></td>
        </tr>
        <tr>
            <td>メールアドレス:</td>
            <td><input type="text" name="mail" value="{{data.mail}}"></td>
        </tr>
        <tr>
            <td>電話番号:</td>
            <td><input type="text" name="tel" value="{{data.tel}}"></td>
        </tr>
        <tr>
            <td>メモ:</td>
            <td><input type="text" name="mail" value="{{data.mail}}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="送信"></td>
        </tr>
    </form>
    <tr>
        <td>
            <a href="/del?id={{data.key.id}}">消去</a>
        </td>
    </tr>
</table>