<!DOCTYPE html>
<table class="data">
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メール</th>
        <th>電話</th>
    </tr>
    {% for data in datas %}
    <tr>
        <td>
            <a href="/edit?id={{data.key.id}}">
                {{data.key.id}}
            </a>
        </td>
        <td>
            {{data.name}}
        </td>
        <td>
            {{data.mail}}
        </td>
        <td>
            {{data.tel}}
        </td>

    </tr>
    {% endfor %}
</table>

<div><a href="/add">新規作成</a></div>
