<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{layout.title}}</title>
        <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.3.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.3.min.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="../css/layout.css" />-->
        <!--<script type="text/javascript" src="../js/w2ui_grid_v1.js">-->
        <!--<script type="text/javascript" src="../js/w2ui_grid_v2.js">-->
        <!--<script type="text/javascript" src="../js/w2ui_grid_v3_20151114.js">-->
        <script type="text/javascript" src="../js/w2ui_grid_v6.js">
        </script>
        <!--<script type="text/javascript" src="../js/w2ui_side_v1.js">-->
    </head>
    <body>
        <!--<div id="grid" style="width: 100%; height: 400px;"></div>-->
        <!--<div id="layout" style="width:100%; height:400px;"></div>-->
        <h1>商品マスタメンテ</h1>
        <div id="main" style="width:100%; height:400px;"></div>
    </body>
</html>
