<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{layout.title}}</title>
        <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.2.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/layout.css" />
        <!--<script type="text/javascript" src="../js/w2ui_grid_v1.js">-->
        <!--<script type="text/javascript" src="../js/w2ui_grid_v2.js">-->
        <script type="text/javascript" src="../js/old_js/w2ui_grid_v3_20151114.js">
//        <script type="text/javascript" src="../js/w2ui_grid_v4.js">
        </script>
    </head>
    <body>
        <!--<div id="grid" style="width: 100%; height: 400px;"></div>-->
        <!--<div id="layout" style="width:100%; height:400px;"></div>-->
        <div id="main" style="width:100%; height:400px;">
        </div>
        <div id="myForm" style="width: 600px">
            <div class="w2ui-page page-0">
                <div class="w2ui-field">
                    <label>recid</label>
                    <div>
                        <input name="recid" maxlength="100" size="10" readonly/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>得意先コード</label>
                    <div>
                        <input name="code" maxlength="100" size="50"/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>得意先名</label>
                    <div>
                        <input name="company" maxlength="100" size="50"/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>住所</label>
                    <div>
                        <input name="adress" maxlength="100" size="50"/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>請求金額</label>
                    <div>
                        <input name="money" maxlength="100" size="50"/>
                    </div>
                </div>
                <!--<div class="w2ui-field">-->
                <!--<label>Text Area:</label>-->
                <!--<div>-->
                <!--<textarea name="field_textarea" style="width: 385px; height: 80px;"></textarea>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="w2ui-buttons">
                <input type="button" value="Reset" name="reset"/>
                <input type="button" value="Save" name="save"/>
            </div>
        </div>
    </body>
</html>
