        <!--システム環境メンテ-->
        <div id="sysEnvMtForm" style="width: 200px">
            <div class="w2ui-page page-0">
                <div class="w2ui-field">
                    <label>recid</label>
                    <div>
                        <input name="recid" maxlength="100" size="3" readonly/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>id</label>
                    <div>
                        <input name="id" maxlength="100" size="20" readonly/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>履歴No</label>
                    <div>
                        <input name="dispYear" maxlength="100" size="30"/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>適用開始年月日</label>
                    <div>
                        <input name="fisStartDate" size="30"/>
                    </div>
                </div>
                <div class="w2ui-field">
                    <label>消費税率</label>
                    <div>
                        <textarea name="fisEndDate" maxlength="100" size="25"></textarea>
                    </div>
                </div>
                <!--<div class="w2ui-field">-->
                <!--<label>Text Area:</label>-->
                <!--<div>-->
                <!--<textarea name="field_textarea" style="width: 385px; height: 80px;"></textarea>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="w2ui-buttons">
                <input type="button" value="Reset" name="reset"/>
                <input type="button" value="Save" name="save"/>
            </div>
        </div>